<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Repeatr | Home</title>
</head>
<body>
    <nav>
        <h3>Repeatr</h3>
        <a href="/">Home</a>
        <a href="/play">Play</a>
        <a href="/create">create</a>
    </nav>
    <div id="index">
        <h1>This is repeatr</h1>
        <p>This program  allows you to review factual knowledge from your lessons.</p>
        <div>
            <a href="/play" class="btn">Play</a>
            <a href="/create" class="btn">Create</a>
        </div>
    </div>
    
</body>
</html>