<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Repeatr | Play</title>
</head>
<body>
    <nav>
        <h3>Repeatr</h3>
        <a href="/">Home</a>
        <a href="/play">Play</a>
        <a href="/create">create</a>
    </nav>
    <h1>Choose a deck</h1>
    <div id="decks">
            <% var cardGroups = Array.from(new Set(cards.map(card => card.c))); %>
            <% cardGroups.forEach(function(group) { %>
              <div>
                <button class="card-group-button" onclick="toggleCardContents(this)">
                  <h2>Card Group: <%= group %></h2>
                </button>
                <div class="card-contents">
                  <% cards.filter(function(card) { return card.c === group; }).forEach(function(card, index) { %>
                    <div class="card-item" style="display: none;">
                      <h2>Question:</h2>
                      <p><%= card.q %></p>
                
                      <h2>Answers:</h2>
                      <ul>
                        <% card.a.forEach(function(answer) { %>
                          <li><%= answer %></li>
                        <% }) %>
                      </ul>
                
                      <h2>Correct Answers:</h2>
                      <ul>
                        <% card.ca.forEach(function(correct) { %>
                          <li><%= correct %></li>
                        <% }) %>
                      </ul>
                    </div>
                  <% }) %>
                </div>
              </div>
              <hr>
            <% }) %>
          
          <script>
            function toggleCardContents(button) {
              var cardContents = button.nextElementSibling;
              var cardItems = cardContents.getElementsByClassName('card-item');
          
              for (var i = 0; i < cardItems.length; i++) {
                var cardItem = cardItems[i];
                cardItem.style.display = cardItem.style.display === 'block' ? 'none' : 'block';
              }
            }
          </script>
          
    </div>
</body>
</html>